body {
  background-color: #e4e4e7;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  padding: 1px;
}

.title {
  color: rgba(0, 0, 0, 0.7);;
  padding-top: 10px;
  text-align: center;
}

.infos {
  align-items: stretch;
  border: 0.8px solid black;
  border-radius: 2px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 5px;
  padding-left: 3px;
}

.search {
  background-color: #fde047;
  background-image: linear-gradient(to right, #22c55e, #facc15);
  border: 2px solid #14532d;
  border-radius: 15px;
  color: #14532d;
  display: flex;
  flex-flow: row wrap;
  font-size: 20px;
  justify-content: space-evenly;
  margin: auto;
  padding: 15px 0px 15px 0px;
}

input, select, button {
  background-color: #fef08a;
  border: 0.5px solid #14532d;
  margin-left: 5px;
  border-radius: 4px;
}
